body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    height: 100px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Section 1 */

section.section-1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 400px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 200px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8; 
    padding: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -25px;
}

.button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
}

.hero-main-image {
    width: 500px;
    height: 250px;
    background-color: gray;
    margin-top: 35px;
    margin-right: 200px;
    
}

/* Section 2 */

section.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: white;
}

.information-header-text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.information-header-images {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.information-header-image {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #3882F6;
    border-radius: 12px;

}

.image-subtext {
    width: 150px;
    text-align: center;
}

/* Section 3 */

section.section-3  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 215, 215);
    height: 350px;
}

.quote-text {
    font-size: 36px;
    font-weight: 20;
    font-style: italic;
    width: 850px;
}

.author-text {

    font-size: 25px;
    font-weight: bold;
    margin-left: 450px;
    margin-top: -60px;
}

/* Section 4 */

section.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.blue-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 1200px;
    background-color: #3882f6;
    border-radius: 12px;
}

.button-2 {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
}

.call-to-action-text {
    color: white;
}

/* Section 5 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
}

p.footer {
    color: white;
}